body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: gainsboro;
}

body {
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1400px;
  margin: 0 auto;
  margin-top: 110px;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 0.7) 3%,
    rgba(60, 132, 206, 0.7) 38%,
    rgba(48, 238, 226, 0.7) 68%,
    rgba(255, 25, 25, 0.7) 98%
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.search-form__logo {
  margin-right: 50px;
}

.search-form__input {
  width: 300px;
  height: 30px;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &::placeholder {
    font-size: 16px;
    color: #cccccc;
  }
}

.search-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  cursor: pointer;
  &:hover,
  &:focus {
    background-color: rgba(255, 255, 126, 1);
  }
}

.img-search {
  margin-right: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  padding-top: 100px;
}

.photo-card {
  width: calc(100% / 3 - 10px * 2);
  margin: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 4, 56, 0.5);
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 0, 0.5);

  &:hover,
  &:focus {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  }
}

.photo-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.end-collection-text {
  margin: 30px 0 30px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: black;

  &.is-hidden {
    display: none;
  }
}

.load-more {
  width: 160px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  background-color: gainsboro;

  &:hover,
  &:focus {
    color: black;
    background-color: rgba(255, 255, 126, 1);
  }

  &.is-hidden {
    display: none;
  }
}
